<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">

		<title>{ifset title}{include title|striptags} | {/ifset}Firstload</title>

		<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	</head>

	<body>
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

		{include content}

		{block scripts}
		{* <script src="//nette.github.io/resources/js/netteForms.min.js"></script> *}
		<script src="{$basePath}/src/canvasjs.min.js"></script>
		{/block}

	<center>
		<p>
			<small>
				Petr Kratochvíl &lt<a href="mailto:krato@krato.cz">krato@krato.cz</a>&gt &copy; 2016. All rights reserved. Use this application only without guarranties.
			</small>
		</p>
	</center>
</body>
</html>
