{block content}

<div id="banner">
	<h1 n:block=title>Firstload</h1>
</div>

<div id="col-left">
	{foreach $urls as $u}
		<li>
			<a n:href="Chart:default $u->url">{$u->url}</a>
		</li>
	{/foreach}
</div>

<div id="col-main">
	<div id="chartContainer" style="height: 400px; width: 100%;">
	</div>
</div>


<script type="text/javascript">
	window.onload = function () {
		var markerSize = 5;
		var chart = new CanvasJS.Chart("chartContainer",
				{
					title: {
						text: {$url}
					},
					zoomEnabled: true,
					axisX: {
						title: "Datetime",
					},
					axisY: {
						title: "time [ms]",
						minimum: -2000,
						maximum: 5200,
					},
					data: [
						{
							markerSize: markerSize,
							xValueType: "dateTime",
							showInLegend: true,
							legendText: "1. load",
							type: "scatter",
							markerType: 'triangle',
							color: "red",
							dataPoints: {$url ? $data[1] : []}
						},
						{
							markerSize: markerSize,
							xValueType: "dateTime",
							showInLegend: true,
							legendText: "2. load (0 seconds after 1. load)",
							type: "scatter",
							markerType: 'square',
							color: "green",
							dataPoints: {$url ? $data[2] : []}
						},
						{
							markerSize: markerSize,
							xValueType: "dateTime",
							showInLegend: true,
							legendText: "3. load (15 seconds after 2. load)",
							type: "scatter",
							markerType: 'circle',
							color: "blue",
							dataPoints: {$url ? $data[3] : []}
						},
					]
				});
		chart.render();
	}
</script>
