{block content}

<div id="banner">
	<h1 n:block=title>URLs</h1>
</div>

<style>
	li { margin: 10px 0px 10px 0px; }
</style>

<ul>
	{foreach $urls as $url}
		<li>
			<a n:href="Chart:default $url->url">{$url->url}</a>
		</li>
	{/foreach}
</ul>
